{{!--top banner--}}
<div>
	<p>Authenticated: {{session.isAuthenticated}}</p>
	<div>
	{{#if session.isAuthenticated}}
		<a {{action (route-action 'logout')}}>log out!</a>
	{{else}}
		{{#link-to 'login'}}Log in{{/link-to}}
		{{#link-to 'register'}}Register{{/link-to}}
	{{/if}}
	</div>
</div>

<h1>Hallo!</h1>

{{outlet}}
